// Footer
//
// Custom footer without hydeout's footer


/*for trouble shooting
.container .row {
  border: 1px dotted grey;
}
*/

#asterisk{
	font-family:$root-font-family;
	font-weight:400;
	font-size:26px;
	color:gray;
}


.container{
  padding-bottom:0;
}

.container .row.content {
  flex: 1 1 auto;
  padding:0;
}

.container .row.footer {
  flex: 0 1 2rem;
}

@media (max-width: $large-breakpoint) {
.container .row.footer {
  padding: 0 2em 0 2em;
}
}

