<nav id="sidebar-icon-links">

    <a class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.github.repo }}">
      {% include svg/github.svg %}
    </a>
	
	
	<a class="icon" title="StackOverflow;" aria-label="StackOverflow"
       href="http://stackoverflow.com/users/4798582/flo">
      {% include svg/stack-overflow.svg %}
    </a>
	
	
	<a class="icon" title="LinkedIn&nbsp;" aria-label="LinkedIn"
       href="https://nl.linkedin.com/in/florianwanders">
      {% include svg/linkedin-in.svg %}
    </a>
	
	
	<a class="icon" title="Twitter&nbsp;" aria-label="Twitter"
       href="https://twitter.com/florianwanders">
      {% include svg/twitter.svg %}
    </a>
	
	

</nav>


	